<nav class="nv navbar navbar-default">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="splash.html"><img src="images/mmmAudio.png" style="display: inline-block; height: 40px; width: 90px; margin-top: -5px"></a>
  </div>


  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav nav-pills addPadding">
      <li role="presentation" class="active"><a href="index.html"> Home </a></li>
      <li role="presentation" class="active"><a href="newestDeals.html"> Newest Deals </a></li>
      <li role="presentation" class="active"><a href="takeAnOrder.html"> Book Flight </a></li>
      <li role="presentation" class="active"><a href="FAQ.html"> FAQ </a></li>

    </ul>
  </div>
</nav>
